Source: linux-android-samsung-gts7xlwifi
Section: kernel
Priority: optional
Maintainer: Mustafa Kahraman <mkahraman341@gmail.com>
XS-Droidian-Host-Arch: arm64
XS-Droidian-Build-On: amd64
Build-Depends: build-essential,
               dpkg-dev,
               findutils,
               android-platform-prebuilts-python-linux-x86-2.7.5,
               debhelper (>= 13),
               bc,
               rsync,
               kmod,
               cpio,
               bison,
               flex,
               libssl-dev,
               linux-initramfs-halium-generic,
               linux-packaging-snippets,
               android-sdk-ufdt-tests,
               mkbootimg (>= 10.0.0),
               mkdtboimg,
               avbtool,
               lz4,
               device-tree-compiler, linux-initramfs-halium-generic:arm64, binutils-aarch64-linux-gnu, clang-android-14.0-r450784d, gcc-4.9-aarch64-linux-android, g++-4.9-aarch64-linux-android, libgcc-4.9-dev-aarch64-linux-android-cross
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/mukahraman/kernel_samsung_sm8250
Vcs-Git: https://github.com/mukahraman/kernel_samsung_sm8250.git

Package: linux-image-4.19-325-samsung-gts7xlwifi
Architecture: arm64
Depends: ${misc:Depends}
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi
 This package contains the Linux kernel for the Samsung Galaxy Tab S7+ Wi-Fi
 (SM-T970, codename gts7xlwifi) device.
 .
 Note: This package only ships the kernel image and modules. For a flashable
 boot image suitable for Android bootloaders, see
 linux-bootimage-4.19-325-samsung-gts7xlwifi.

Package: linux-bootimage-4.19-325-samsung-gts7xlwifi
Architecture: arm64
Pre-Depends: flash-bootimage (>= 4)
Depends: ${misc:Depends},
         linux-image-4.19-325-samsung-gts7xlwifi (= ${binary:Version})
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi - Android Boot Image
 This package contains the Linux kernel for the Samsung Galaxy Tab S7+ Wi-Fi
 (SM-T970, codename gts7xlwifi) device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.

Package: linux-headers-4.19-325-samsung-gts7xlwifi
Architecture: arm64
Depends: ${misc:Depends},
         linux-image-4.19-325-samsung-gts7xlwifi (= ${binary:Version})
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi - Headers
 This package contains the Linux kernel headers for the Samsung Galaxy Tab S7+
 Wi-Fi (SM-T970, codename gts7xlwifi) device.

Package: linux-image-samsung-gts7xlwifi
Architecture: arm64
Depends: linux-image-4.19-325-samsung-gts7xlwifi (= ${binary:Version})
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi (latest)
 This metapackage depends on the latest kernel image available for the
 Samsung Galaxy Tab S7+ Wi-Fi.

Package: linux-bootimage-samsung-gts7xlwifi
Architecture: arm64
Depends: linux-bootimage-4.19-325-samsung-gts7xlwifi (= ${binary:Version})
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi - Android Boot Image (latest)
 This metapackage depends on the latest kernel bootimage available for the
 Samsung Galaxy Tab S7+ Wi-Fi.

Package: linux-headers-samsung-gts7xlwifi
Architecture: arm64
Depends: linux-headers-4.19-325-samsung-gts7xlwifi (= ${binary:Version})
Description: Linux kernel for Samsung Galaxy Tab S7+ Wi-Fi - Headers (latest)
 This metapackage depends on the latest kernel headers available for the
 Samsung Galaxy Tab S7+ Wi-Fi.
